/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.header-container {
	position: fixed;
	height : min-content;
	display: block;
	width : 100%;
	text-align: center;
	background: white;
	margin: 0 auto 10px;
	padding: 0;
	left: 0;
	top: 0;/*
	color: #fff;
	bottom: 0;
	border-radius: 4px;*/
}
.sources-container{
	font-size : 1.25vmin;
	width: 100%;
	max-height : max-content;
	background: #333;
	color: #fff;
	/*border-radius: 4px;*/
	margin: 0 auto 0;
	position: fixed;
	vertical-align: bottom;
	left: 0;
	bottom: 0;
    }
.main-content {
	width: 100%;
	
	margin: 70px auto 70px auto;
}

.footer-col{
	padding: 5px 3%;
	display: inline-block;
	width : auto;
	vertical-align: top;
	margin: 0 auto;
}	
	
	
.column {
  padding : 0px 7.5px;
  margin :0;
  float: left;

}

.left {
  width: 35%;
  max-height: 80vh;
  overflow-y: scroll;  
}

.middle {
  width: 35%;
  height : 80vh;
}

.right {
  width: 29%;
  max-height : 80vh;
  overflow-y: scroll;
}


.buttons-container {
  width: 100%;
  align-content: center;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 10px auto;
}

.button, button{
	padding : 0 15px;
	width: min-content;
	background-color: #C0C0C0;
	display : inline-block;
	margin : 1% 1%;
}

.container {
	padding: 10px;
	margin: 5px 0;
	vertical-align: top;
	text-align: left;
}

.container .filters-type {
	text-align: center;
	padding: 5px;
	margin: 5px 0;
	/*background-color:  #DCDCDC;*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#logo {
	display: inline-block;
	height: 60px;
	width: auto;
	float: left;
	margin-left: 20px;
}

#opeg-logo {
	display: inline-block;
	height: 60px;
	float: right;
	margin-right: 20px;
}
#header-title {
	vertical-align: middle;
	display: inline-block;
	/*font-size : 3vmin;*/
}

#filters-table-div {
	width : 100%;
	margin : 0 0;
}
#filters-details {
	padding-right: 0;
}


@media (mmin-width: 1920px){
	#main-plot {
		width : 300px;
		height : 233px;
		display:table-cell;
		vertical-align:top;
		font-size: 1.0em
	}
}

@media (max-width: 2600px){
	#main-plot {
		width : 600px;
		height : 450px;
		display:table-cell;
		vertical-align:top;
		padding: 10px;
		font-size: 1.0em
	}
}


#report {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    
#intro-div {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

/*-------- Hovering stuff ------- */

.hover-span {
  margin-bottom: 0;
  border-bottom: 1px dotted black; 
}
.tooltip {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  border-bottom: 1px dotted black;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  max-width: 250px;
  background-color: #fffbf2;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: small;
  border-color: black;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;  
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fffbf2 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* ----------------------- */