/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.sources-container{
		position: fixed;
        width: 40%;
        vertical-align: bottom;
        background: #333;
        color: #fff;
		bottom: 0;
		border-radius: 4px;
		margin: 10px auto;
		margin-left:auto;
		margin-right:auto;
		font-size : 1vmin;
    }

.footer-col{
	padding: 10px 3%;
	display: inline-block;
	width : auto;
	vertical-align: top;
	margin: 0 auto;
}	
	
	
.column {
  padding : 0px 7.5px;
  margin :0px 0px;
  float: left;
}

.left {
  width: 27%;
  height : 100%;
}

.middle {
  width: 45%;
  height : 100%;
}

.right {
  width: 27%;
  height : 100%;
}


.buttons-container {
  width: 100%;
  align-content: center;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 10px auto;
}

.button, button{
	padding : 0 15px;
	width: min-content;
	background-color: #C0C0C0;
	display : inline-block;
	margin : 1% 1%;
}

.container {
	padding: 10px;
	margin: 5px 0;
	vertical-align: top;
	text-align: left;
}

/*.big-container {
	border-radius: 4px;
	border: 1px solid #bbb;
	background-color:  #DCDCDC;
*/

.container .filters-type {
/*	border-radius: 4px;
	border: 1px solid #bbb;*/
	text-align: center;
	padding: 10px;
	margin: 5px 0;
	background-color:  #DCDCDC;
}

#filters-table-div {
	width : 100%;
	overflow-y: scroll;
	max-height: 65vh;
	margin : 0 0;
}
#filters-details {
	padding-right: 0;
}
#column-right-div{
	overflow-y: scroll;
	max-height: 90vh;
}
#div-fig {
	width : 45vw;
	height : 70vh;
	display:table-cell;
    vertical-align:middle;
	padding: 10px;
}
/*-------- Hovering stuff ------- */

.hover-span {
  margin-bottom: 0;
  border-bottom: 1px dotted black; 
}
.tooltip {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  border-bottom: 1px dotted black;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  max-width: 250px;
  background-color: #fffbf2;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  font-size: small;
  border-color: black;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;  
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fffbf2 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* ----------------------- */