.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
}

.left {
  width: 40%;
}

.right {
  width: 50%;
}


.buttons-container {
  width: 40%;
  align-content: center;
  text-align: center;
  margin-top: 3.6rem;
  display: inline-block;
  vertical-align: top;
}

.button, button{
	width': 120px;
	background-color: #C0C0C0;
	margin-left : 25px;
}

.main-inputs-container {
	width : 48%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	border-radius: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
	margin-left: 2%;
	margin-bottom: 10px;
	padding: 5px;
	background-color:  #DCDCDC;
}

.big-container {
	width : 98%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	border-radius: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
	margin-left: 2%;
	margin-bottom: 10px;
	padding: 10px;
	background-color:  #DCDCDC;
}

.big-container .filters-type {
	width : 30%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 3%;
}