.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  margin-left : 10px;
  margin-right : 10px;
  float: left;
}

.left {
  width: 300px;

}

.middle {

  width: 600px;
}

.right {
  width: 550px;
}


.buttons-container {
  width: 100%;
  align-content: center;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.button, button{
	width: 120px;
	background-color: #C0C0C0;
    margin-left : 25px;
	margin-right : 25px;
	display : inline-block
}

.main-inputs-container {
	width : 100%;
	vertical-align: top;
	text-align: left;
	border-radius: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
	padding-left: 10px;
	margin-bottom: 10px;
	padding: 5px;
	background-color:  #DCDCDC;
}

.big-container {
    width : 100%;
	vertical-align: top;
	text-align: left;
	border-radius: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
	padding-left: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color:  #DCDCDC;
}

.big-container .filters-type {
	width : 100%;
	vertical-align: top;
	text-align: left;
}